In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
!pip install word2number

Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [4]:
import math
from word2number import w2n

df['experience'] = df['experience'].fillna('zero')
df['experience'] =df['experience'].apply(w2n.word_to_num)
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(math.floor(df['test_score(out of 10)'].median()))
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [6]:
reg = linear_model.LinearRegression()

In [7]:
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']].values, df['salary($)'].values)

LinearRegression()

In [8]:
reg.predict([[2,9,6]])

array([53205.96797671])